@use "../utils/shadow";
@use "../utils/colors";
@use "../utils/hover";

.choice-list {
  counter-reset: number;
  & ol {
    display: flex;
    gap: 1.5rem;
    padding: 1rem 0 0 1rem;
    @media (max-width: 800px) {
    flex-direction: column;
    }
    & li {
        position: relative;
      &::before {
        content: counter(number);
        counter-increment: number;
        color: white;
        background-color: colors.$color-primary;
        position: absolute;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        display: grid;
        place-items: center;
        bottom: 1rem;
        left: -1rem;

      }  
      background-color: #f6f6f6;
      flex-grow: 1;
      border-radius: 1rem;
      list-style-type: none;
      padding: 1.5rem;
      cursor: pointer;
      @include shadow.shadow-one;
      &:hover {
        @include hover.hover-btn;
      }
    }
    & i {
      padding-right: 1.5rem;
    }
  }
}
