@use "../utils/mixins.scss";
@use "../utils/colors";


.choice-list {
  counter-reset: number;
  padding: 2rem 1rem;
  & ol {
    display: flex;
    gap: 2rem;
    padding: 1rem 0 0 1rem;
    @media (max-width: 1000px) {
    flex-direction: column;
    }
    & li {
        position: relative;
      &::before {
        content: counter(number);
        counter-increment: number;
        color: white;
        background-color: colors.$color-primary;
        position: absolute;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        display: grid;
        place-items: center;
        left: -1rem;
        top: 50%;
        transform: translateY(-50%);

      }  
      background-color: #f6f6f6;
      flex-grow: 1;
      border-radius: 1rem;
      list-style-type: none;
      padding: 1.5rem;
      cursor: pointer;
      @include mixins.shadow-one;
      &:hover {
        @include mixins.hover-btn;
      }
    }
    & i {
      padding-right: 1.5rem;
    }
  }
}
