@use "../utils/colors";
@use "../utils/variable";
@use "../utils/mixins.scss";

.restaurant {
    background-color: colors.$color-quarternary;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    & h2 {
        padding:1.5rem 0;
    }

    .restaurant__cards {
        display: grid;
        gap: 2rem;
        grid-template-columns:repeat(2,1fr);
        
        @media (max-width: variable.$breakpoint) {
            grid-template-columns:repeat(1,1fr);
        }
        .new {
            position: relative;
        }
        .new::before {
            content: "nouveau";
            position: absolute;
            width: 5rem;
            height: 2rem;
            background-color: colors.$color-tertiary;
            color: darken(colors.$color-tertiary, 50%);
            display: grid;
            place-items: center;
            right: 1rem;
            top: 1rem;
        }
    }
    
    .cards {
        background-color: white;
        border-radius: 1rem;
        &__img {
            height: 15rem;
            background-size: cover;
            border-radius: 1rem 1rem 0 0;
        }
        @for $i from 1 through 4 {
            &__img-#{$i} {
            background-image: url(../../assets/resto-#{$i}.jpg);
            }
        }
        &__txt {
            position: relative;
            &::before {
                @include mixins.heart;
                
            }
            &::after {
                @include mixins.heart(0, 900, transparent);
                @include mixins.graduated;
            
                
            }
            &:hover::after {
                opacity: 1;
            }
            h3,
            p {
                margin: 0.5rem 1rem;
            }
            p {
                margin-bottom: 1rem;
            }
            h3 {
                padding-top: 1rem;
            }
        }
    }
}