@use "../utils/colors";
@use "../utils/mixins";

.search {
    text-align: center;
    padding-top: 2rem;
    background-color: colors.$color-quarternary;
    padding: 1rem;
    & h2 {
      font-size: 1.5rem;
    }
    & p {
      font-size: 1.1rem;
    }
    & button {
      @include mixins.bouton-one;
    }
  
    & button:hover {
      @include mixins.hover-btn;
    }
  }
  