@use "../utils/colors";
@use "../utils/mixins";

.search {
    text-align: center;
    padding-top: 2rem;
    background-color: colors.$color-quarternary;
    padding: 1rem;
    & h2 {
      font-size: 1.5rem;
    }
    & p {
      font-size: 1.1rem;
    }
    & button {
      margin-top: 1rem;
      padding: 1rem 2rem;
      border-radius: 5rem;
      border: none;
      color: white;
      font-weight: bold;
      font-size: 1rem;
      margin-bottom: 2rem;
      @include mixins.shadow-one;
      @include mixins.graduated;
      cursor: pointer;
      transition: 100ms;
    }
  
    & button:hover {
      @include mixins.hover-btn;
    }
  }
  