@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

h3 {
  margin: 0.5rem 0;
}

.contain {
  max-width: 1280px;
  margin: auto;
}

header {
  font-family: "Shrikhand", sans-serif;
  text-align: center;
  box-shadow: 0px 1px 8px lightgray;
  padding: 0.3rem;
  position: relative;
}

.city {
  background-color: #eaeaea;
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.cityi {
  font-size: 1.5rem;
}

.search {
  text-align: center;
  padding-top: 2rem;
  background-color: #f6f6f6;
  padding: 1rem;
}
.search h2 {
  font-size: 1.5rem;
}
.search p {
  font-size: 1.1rem;
}
.search button {
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-radius: 5rem;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 2rem;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(0deg, hsl(267deg, 74%, 64%), hsl(321deg, 68.1%, 76%));
  cursor: pointer;
  transition: 100ms;
}
.search button:hover {
  transform: scale(1.03);
  opacity: 0.9;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
}

.choice-list {
  counter-reset: number;
  padding: 2rem 1rem;
}
.choice-list ol {
  display: flex;
  gap: 2rem;
  padding: 1rem 0 0 1rem;
}
@media (max-width: 1000px) {
  .choice-list ol {
    flex-direction: column;
  }
}
.choice-list ol li {
  position: relative;
  background-color: #f6f6f6;
  flex-grow: 1;
  border-radius: 1rem;
  list-style-type: none;
  padding: 1.5rem;
  cursor: pointer;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
}
.choice-list ol li::before {
  content: counter(number);
  counter-increment: number;
  color: white;
  background-color: #9356DC;
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  left: -1rem;
  top: 50%;
  transform: translateY(-50%);
}
.choice-list ol li:hover {
  transform: scale(1.03);
  opacity: 0.9;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
}
.choice-list ol i {
  padding-right: 1.5rem;
}

.restaurant {
  background-color: #f6f6f6;
  margin-bottom: 2rem;
  padding: 2rem 1rem;
}
.restaurant h2 {
  padding: 1.5rem 0;
}
.restaurant .restaurant__cards {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 1000px) {
  .restaurant .restaurant__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.restaurant .restaurant__cards .new {
  position: relative;
}
.restaurant .restaurant__cards .new::before {
  content: "nouveau";
  position: absolute;
  width: 5rem;
  height: 2rem;
  background-color: #99E2D0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}
.restaurant .cards {
  background-color: white;
  border-radius: 1rem;
}
.restaurant .cards__img {
  height: 15rem;
  background-size: cover;
  border-radius: 1rem 1rem 0 0;
}
.restaurant .cards__img-1 {
  background-image: url(../../assets/resto-1.jpg);
}
.restaurant .cards__img-2 {
  background-image: url(../../assets/resto-2.jpg);
}
.restaurant .cards__img-3 {
  background-image: url(../../assets/resto-3.jpg);
}
.restaurant .cards__img-4 {
  background-image: url(../../assets/resto-4.jpg);
}
.restaurant .cards__txt {
  position: relative;
}
.restaurant .cards__txt::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: 150ms;
}
.restaurant .cards__txt::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: 150ms;
  background-image: linear-gradient(0deg, hsl(267deg, 74%, 64%), hsl(321deg, 68.1%, 76%));
}
.restaurant .cards__txt:hover::after {
  opacity: 1;
}
.restaurant .cards__txt h3,
.restaurant .cards__txt p {
  margin: 0.5rem 1rem;
}
.restaurant .cards__txt p {
  margin-bottom: 1rem;
}
.restaurant .cards__txt h3 {
  padding-top: 1rem;
}

footer {
  background-color: #353535;
  color: white;
  padding: 0.5rem 1rem;
}
footer h2 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
  padding: 1rem 0;
}

/*# sourceMappingURL=style.css.map */
