@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 1.8rem;
  margin: auto;
  padding-top: 1rem;
}

h3 {
  margin: 0.5rem 0;
}

.contain {
  max-width: 1280px;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

.mailto:hover {
  color: #FF79DA;
}

header {
  font-family: "Shrikhand", sans-serif;
  text-align: center;
  box-shadow: 0px 1px 8px lightgray;
  padding: 0.3rem;
  position: relative;
}

.loader {
  display: grid;
  place-items: center;
  background-color: #ffffff;
  opacity: 0.8;
  z-index: 1;
  height: 100vh;
  position: fixed;
  inset: 0;
  animation: gone 200ms 1200ms forwards;
  transform-origin: bottom;
}
.loader::after {
  content: "";
  height: 50px;
  width: 50px;
  border-right: 5px solid #FF79DA;
  border-left: 5px solid #9356DC;
  border-radius: 50%;
  animation: spin 300ms ease-in-out;
  animation-iteration-count: 4;
}

@keyframes gone {
  to {
    transform: scale(0);
  }
}
.city {
  background-color: #eaeaea;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.cityi {
  font-size: 1.5rem;
}
.city h2 {
  font-size: 1.2rem;
}

.search {
  text-align: center;
  padding-top: 2rem;
  background-color: #f6f6f6;
  padding: 1rem;
}
.search h2 {
  font-size: 1.5rem;
}
.search p {
  font-size: 1.1rem;
}
.search button {
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-radius: 5rem;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: 100ms;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(0deg, hsl(267deg, 74%, 64%), hsl(321deg, 68.1%, 76%));
}
.search button:hover {
  transform: scale(1.03);
  opacity: 0.9;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
}

.choice-list {
  counter-reset: number;
  padding: 2rem 1rem;
}
.choice-list ol {
  display: flex;
  gap: 2rem;
  padding: 1rem 0 0 1rem;
}
@media (max-width: 1000px) {
  .choice-list ol {
    flex-direction: column;
  }
}
.choice-list ol li {
  position: relative;
  background-color: #f6f6f6;
  flex-grow: 1;
  border-radius: 1rem;
  list-style-type: none;
  padding: 1.5rem;
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
}
.choice-list ol li::before {
  content: counter(number);
  counter-increment: number;
  color: white;
  background-color: #9356DC;
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  left: -1rem;
  top: 50%;
  transform: translateY(-50%);
}
.choice-list ol li:hover {
  transform: scale(1.03);
  opacity: 0.9;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
}
.choice-list ol i {
  padding-right: 1.5rem;
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.restaurant {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
  padding-bottom: 4rem;
}
.restaurant h2 {
  padding: 0.5rem 0;
}
.restaurant .restaurant__cards {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 1000px) {
  .restaurant .restaurant__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.restaurant .restaurant__cards .new {
  position: relative;
}
.restaurant .restaurant__cards .new::before {
  content: "nouveau";
  position: absolute;
  width: 5rem;
  height: 2rem;
  background-color: #99E2D0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}
.restaurant .cards {
  background-color: white;
  border-radius: 1rem;
}
.restaurant .cards__img {
  height: 12rem;
  background-size: cover;
  background-position: center;
  border-radius: 1rem 1rem 0 0;
}
.restaurant .cards__img-1 {
  background-image: url(../assets/resto-1.jpg);
}
.restaurant .cards__img-2 {
  background-image: url(../assets/resto-2.jpg);
}
.restaurant .cards__img-3 {
  background-image: url(../assets/resto-3.jpg);
}
.restaurant .cards__img-4 {
  background-image: url(../assets/resto-4.jpg);
}
.restaurant .cards__txt {
  position: relative;
}
.restaurant .cards__txt::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: 500ms;
}
.restaurant .cards__txt::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: 500ms;
  background-image: linear-gradient(0deg, hsl(267deg, 74%, 64%), hsl(321deg, 68.1%, 76%));
}
.restaurant .cards__txt:hover::after {
  opacity: 1;
}
.restaurant .cards__txt h3,
.restaurant .cards__txt p {
  margin: 0.5rem 1rem;
}
.restaurant .cards__txt p {
  margin-bottom: 1rem;
}
.restaurant .cards__txt h3 {
  padding-top: 1rem;
}

footer {
  background-color: #353535;
  color: white;
  padding: 0.5rem 1rem;
}
footer h2 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
  padding: 1rem 0;
}

.nav-page {
  position: relative;
}

.nav-page::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f060";
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
}

.ban_img {
  width: 100%;
  max-height: 18rem;
  object-fit: cover;
  display: block;
}

.menus__title {
  background-color: #f6f6f6;
  position: relative;
  z-index: 1;
  margin-top: -4rem;
  padding: 5rem 0 0;
  border-radius: 3rem 3rem 0 0;
}
.menus__title h2 {
  font-family: "Shrikhand", sans-serif;
  margin: -4rem 1rem -5.5rem;
  position: relative;
}
.menus__title h2::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: 500ms;
}
.menus__title h2::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: 500ms;
  background-image: linear-gradient(0deg, hsl(267deg, 74%, 64%), hsl(321deg, 68.1%, 76%));
}
.menus__title h2:hover::after {
  opacity: 1;
}

.menus {
  gap: 1rem;
  padding: 3rem 1rem;
  background-color: #f6f6f6;
  display: flex;
  align-items: flex-start;
}
@media (max-width: 1000px) {
  .menus {
    flex-direction: column;
    align-items: inherit;
  }
}
.menus .menus__title_sub {
  font-weight: 400;
  margin: 30px 0;
  padding-bottom: 0.5rem;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
  margin: 3rem 0 0;
}
.menus .menus__title_sub::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.menus .menus__group-1 {
  animation: appear 1s cubic-bezier(0.5, 1.58, 0.34, 0.82);
  display: grid;
  align-items: flex-start;
  gap: 1rem;
}
.menus .menus__group-2 {
  animation: appear 2s cubic-bezier(0.5, 1.58, 0.34, 0.82);
  display: grid;
  gap: 1rem;
  align-items: flex-start;
}
.menus .menus__group-3 {
  animation: appear 3s cubic-bezier(0.5, 1.58, 0.34, 0.82);
  display: grid;
  gap: 1rem;
  align-items: flex-start;
}
.menus .menus__category {
  background-color: #FFFFFF;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
}
.menus .menu-sub {
  display: flex;
  border-radius: 1rem;
}
.menus .menu-sub__txt {
  padding: 1rem;
  overflow: hidden;
}
.menus .menu-sub__txt h4, .menus .menu-sub__txt p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menus .menu-sub__prix {
  margin-left: auto;
  font-weight: 900;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
.menus .menu-sub__check {
  display: grid;
  place-items: center;
  background-color: #99E2D0;
  margin-right: -3.5rem;
  width: 3.5rem;
  border-radius: 0 1rem 1rem 0;
  transition: all 350ms;
  flex-shrink: 0;
}
.menus .menu-sub__check i {
  display: grid;
  place-items: center;
  height: 1rem;
  width: 1rem;
  color: #f6f6f6;
}
.menus .menu-sub:hover .menu-sub__check {
  margin-right: 0;
}
.menus .menu-sub:hover i {
  animation: spin 500ms;
}
@keyframes spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.contain-page {
  background-color: #f6f6f6;
}

.order-btn {
  display: grid;
  place-items: center;
  background-color: #f6f6f6;
}
.order-btn button {
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-radius: 5rem;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: 100ms;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(0deg, hsl(267deg, 74%, 64%), hsl(321deg, 68.1%, 76%));
}
.order-btn button:hover {
  transform: scale(1.03);
  opacity: 0.9;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
}
.order-btn .btn_page {
  margin-top: 0;
}

/*# sourceMappingURL=style.css.map */
