@use "../utils/mixins";
@use "../utils/colors";
@use "../utils/variable";
@use "../utils/animation";

.nav-page{
    position: relative;
}
.nav-page::before {
    @include mixins.font-awesome(900);
    content: "\f060";
    position: absolute;
    left: 2rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;

}

.ban_img {
    width: 100%;
    max-height: 32rem;
    object-fit: cover;
    display: block;
}

.menus__title {
    background-color: colors.$color-quarternary;
    position: relative;
    z-index: 1;
    margin-top: -4rem;
    padding: 5rem 0 0;
    border-radius: 3rem 3rem 0 0;
    h2 {
        font-family: 'Shrikhand', sans-serif;
        margin: -3rem 2rem;
        @include mixins.heart-animated;
    }
}

.menus {
   
    gap: 1rem;
    padding: 3rem 1rem;
    background-color: colors.$color-quarternary;
    display: flex;
    @media (max-width: variable.$breakpoint) {
        flex-direction: column;
    }
    .menus__title {
        font-weight: 400;
        margin: 30px 0;
        padding-bottom: 0.5rem;
        position: relative;
        text-transform: uppercase;
    }
    .menus__title::after {
        content: "";
        width: 3rem;
        height: 0.25rem;
        background-color: #99e2d0;
    position: absolute;
    left: 0;
    bottom: 0;
    }
    .menus__group-1 {
        animation : appear 1s cubic-bezier(.5,1.58,.34,.82);
        display: grid;
        gap: 1rem;
    }
    .menus__group-2 {
        animation: appear 2s cubic-bezier(.5,1.58,.34,.82);
        display: grid;
        gap: 1rem;
    }
    .menus__group-3 {
        animation:  appear 3s cubic-bezier(.5,1.58,.34,.82);
        display: grid;
        gap: 1rem;
    }

    .menus__category {
        background-color: colors.$color-white;
        border-radius: 1rem;
        overflow: hidden;
        cursor: pointer;
        @include mixins.shadow-one;
    }
        .menu-sub {
            display: flex;
            border-radius: 1rem;
        }
                .menu-sub__txt {
                padding: 1rem;
                overflow: hidden;
                h4, p {
                    margin: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                }
            
            .menu-sub__prix {
                margin-left: auto;
                font-weight: 900;
                padding: 1rem;
                display: flex;
                align-items: flex-end;
            }
            
            .menu-sub__check {
                display: grid;
                place-items: center;
                $button-width: 4rem;
                background-color: colors.$color-tertiary;
                margin-right: -$button-width;
                width: $button-width;
                border-radius: 0 1rem 1rem 0;
                transition: all 350ms;
                flex-shrink: 0;
                i {
                    $size: 1rem;
                    display: grid;
                    place-items: center;
                    background: white;
                    height: $size;
                    width: $size;
                    border-radius: 1rem;
                    color: colors.$color-tertiary
                }
            }
            .menu-sub:hover {
                .menu-sub__check {
                margin-right: 0;
            }
            i {
                @include animation.spin;
                animation: spin 500ms;
            }
        }
    }
    

.contain-page {
    background-color: colors.$color-quarternary;
}


.order-btn {
    height: 20vh;
    display: grid;
    place-items: center;
    & button {
        @include mixins.bouton-one;
    }
    & button:hover {
        @include mixins.hover-btn;
    }
}
